<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrimerProyecto</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
 
</head>
<body>
    <header>
        <nav class="site-header sticky-top py-1 bg-dark navbar-dark">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2 btn btn-dark" asp-controller="Home" asp-action="Index"><span class="lnr lnr-home"></span><img src="https://image.flaticon.com/icons/svg/609/609803.svg" width="25px" height="25px" />-Inicio</a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Propietarios" asp-action="Index"><span class="lnr lnr-user"></span> Propietarios</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Inmuebles" asp-action="Index"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Inquilinos" asp-action="Index"><span class="lnr lnr-enter"></span>Inquilinos</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Pago" asp-action="Index"><span class="lnr lnr-enter"></span>Pagos</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="ContratoAlquiler" asp-action="Index"><span class="lnr lnr-enter"></span>Alquileres</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Usuario" asp-action="Index"><span class="lnr lnr-enter"></span>Usuarios</a>
                    <a class="py-2 d-none d-md-inline-block float-right btn btn-danger" asp-controller="Usuario" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>
                }
                @if (User.IsInRole("Propietario"))
                {
                    <!-- <a class="py-2 d-none d-md-inline-block" asp-controller="Propietarios" asp-action="Perfil"><span class="lnr lnr-user"></span> Mis Datos</a> -->
                }
                @if (User.IsInRole("Usuario"))
                {
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Propietarios" asp-action="Index"><span class="lnr lnr-user"></span> Propietarios</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Inmuebles" asp-action="Index"><span class="lnr lnr-apartment"></span> Inmuebles</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Inquilinos" asp-action="Index"><span class="lnr lnr-enter"></span>Inquilinos</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="Pago" asp-action="Index"><span class="lnr lnr-enter"></span>Pagos</a>
                    <a class="py-2 d-none d-md-inline-block btn btn-dark" asp-controller="ContratoAlquiler" asp-action="Index"><span class="lnr lnr-enter"></span>Alquileres</a>

                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <span class="lnr lnr-user"></span> @User.Identity.Name
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("Perfil", "Perfil", "Usuario", new { id = User.Claims.ToList()[3].Value }, new { @class = "dropdown-item text-dark" })                        
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>
                        </div>
                    </div>
                    <!--<a class="py-2 d-none d-md-inline-block float-right btn btn-danger" asp-controller="Usuario" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>  -->
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="py-2 d-none d-md-inline-block float-right btn btn-primary" asp-controller="Usuario" asp-action="Login"><span class="lnr lnr-home"></span>Acceder </a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        @if (ViewBag.Id != null)
        {//alta exitosa
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                </button>
            </div>
        }
        else if (ViewBag.Mensaje != null)
        {//cartel general
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Información:</strong> @ViewBag.Mensaje
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                </button>
            </div>
        }
        else if (ViewBag.Error != null)
        {//Error
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>¡Error!</strong> @ViewBag.Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                </button>
            </div>
        }
        else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
        {//ocurrió un error
            <environment names="Development">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        @ViewBag.StackTrace
                    </div>
                </div>
            </environment>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PrimerProyecto - <a href="#">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla =(",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
   
    <script type="text/javascript">
        function init() {
            $('.alert').alert();
        }
    </script>
</body>
</html>
