@model IEnumerable<PrimerProyecto.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<h1>Pagos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                Propietario-Inquilino
            </th>
            <th>
                Fecha Inicio Contrato
            </th>
            <th>
                Fecha Finalizacion Contrato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @(item.FechaPago.Date.ToString("d"))
            </td>
            <td>
                @(Math.Round(item.Importe))
            </td>
            <td>
                @Html.ActionLink(item.ContratoAlquiler.Id + "", "Index", "ContratoAlquiler", new { id = item.ContratoId }, new { @class = "text-decoration-none" })
            </td>
            <td>
                @(item.ContratoAlquiler.FechaInicio.Date.ToString("d"))
            </td>
            <td>
                @(item.ContratoAlquiler.FechaFinalizacion.Date.ToString("d"))
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-edit", @title = "Editar" })
                    @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                    {
                        @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt", @title = "Borrar" })
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
