@model PrimerProyecto.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    @{await Html.RenderPartialAsync("_EstilosFormularios");}
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Usuario</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Nombre</div>
                            <input asp-for="Nombre" class="inputEdit" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Apellido</div>
                            <input asp-for="Apellido" class="inputEdit" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Email</div>
                            <input asp-for="Email" class="inputEdit" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>                 
                </div>
                <div class="row">
                    @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                    {
                        <div class="col-sm-6">
                            <div class="inputBoxEdit">
                                <div class="inputTextEdit">Rol</div>
                                <br />
                                <select class="selectpicker form-control" data-live-search="true" title="ROL" name="Rol">
                                    @foreach (var kvp in (IDictionary<int, string>)ViewBag.Roles)
                                    {
                                        @:<option @(kvp.Key == Model.Rol ? "selected" : "") value="@kvp.Key">@kvp.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="profile-img">
                                <div class="inputTextEdit">Avatar</div><br />
                                @if (Model.Avatar != "")
                                {
                                    <img src="@Model.Avatar" />
                                }
                                else
                                {
                                    <p>Sin avatar</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Guardar" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" class="buttonIndex btn btn-dark">Regresar a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Cambiar Contraseña</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form asp-action="CambiarPass" asp-route-id="@Model.Id" name="CambiarPass">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Clave Antingüa</div>
                            <input type="password" name="ClaveVieja" class="input" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Clave Nueva</div>
                            <input type="password" name="ClaveNueva" class="input" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Repetir Clave Nueva</div>
                            <input type="password" name="ClaveRepeticion" class="input" />
                        </div>
                    </div>                   
                </div>             
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Cambiar" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" class="buttonIndex btn btn-dark">Regresar a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ScriptsFormularios");}
}
