@model IEnumerable<PrimerProyecto.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>
@section Styles {
    @{await Html.RenderPartialAsync("_EstiloIndex");}
}
<p>
    <a asp-action="Create" class="btn botonAccion btn-capsul">Crear nuevo Inqulino</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DniGarante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class='@(ViewBag.IdSeleccionado == item.Id? "table-primary": "")'>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DniGarante)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-edit", @title = "Editar" })
                        @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning fas fa-info-circle", @title = "Detalles" })
                        @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                        {
                            @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt", @title = "Borrar" })
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
