@model IEnumerable<PrimerProyecto.Models.Pago>

@{
    ViewData["Title"] = "Buscar";
}
@section Styles {
    @{await Html.RenderPartialAsync("_EstiloIndex");}
}
<h1>Pagos del contrato</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                Contrato de alquiler
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.ActionLink(item.ContratoAlquiler.Inmueble.Propietario.Apellido + "-" + item.ContratoAlquiler.Inquilino.Apellido, "Index", "ContratoAlquiler", new { id = item.ContratoId }, new { @class = "text-decoration-none" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn botonIndex btn-capsul">Regresar a la lista</a>
</div>
