@model IEnumerable<PrimerProyecto.Models.ContratoAlquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo Contrato de alquiler</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalizacion)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Inmueble
            </th>
            <th></th>
            <th></th>
            @if (User.IsInRole("Administrador"))
            {
                <th></th>
            }



        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalizacion)
            </td>
            <td>
                @Html.ActionLink(item.Inquilino.Nombre + " " + item.Inquilino.Apellido, "Index", "Inquilinos", new { id = item.Id }, new { @class = "text-decoration-none" })
            </td>
            <td>
                @Html.ActionLink(item.Inmueble.Direccion, "Index", "Inmuebles", new { id = item.Id }, new { @class = "text-decoration-none" })
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("Pagar", "Pagar", new { id = item.Id }, new { @class = "btn btn-warning" })
            </td>
            @if (User.IsInRole("Administrador"))
            {
                <td>
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            }
        </tr>
}
    </tbody>
</table>
