@model IEnumerable<PrimerProyecto.Models.ContratoAlquiler>

@{
    ViewData["Title"] = "MostrarVigentes";
}
@section Styles {
    @{await Html.RenderPartialAsync("_EstiloIndex");}
}

    <h1>Contratos vigentes entre @ViewBag.FechaInicioBusqueda - @ViewBag.FechaFinalBusqueda</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalizacion)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Inmueble
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @(Math.Round(item.Monto))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                </td>
                <td>
                    @Html.ActionLink(item.Inquilino.Nombre + " " + item.Inquilino.Apellido, "Index", "Inquilinos", new { id = item.InmuebleId }, new { @class = "text-decoration-none" })
                </td>
                <td>
                    @Html.ActionLink(item.Inmueble.Direccion, "Index", "Inmuebles", new { id = item.InmuebleId }, new { @class = "text-decoration-none" })
                </td>
                <td>
                    @if (item.Estado)
                    {
                        <div class="btn-capsul btn btn-success fas fa-check-circle" title="Disponible"></div>
                    }
                    else
                    {
                        <div class="btn-capsul btn btn-danger fas fa-times-circle" title="No Disponible"></div>
                    }
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info fas fa-edit", @title = "Editar" })
                        @Html.ActionLink("", "Pagar", new { id = item.Id }, new { @class = "btn btn-outline-warning fas fa-dollar-sign", @title = "Pagar" })
                        @Html.ActionLink("", "Buscar", new { id = item.Id }, new { @class = "btn btn-outline-primary fas fa-list-ol", @title = "Pagos" })
                        @Html.ActionLink("", "Renovar", new { id = item.Id }, new { @class = "btn btn-outline-dark fas fa-history", @title = "Renovar" })
                        @Html.ActionLink("", "Rescindir", new { id = item.Id }, new { @class = "btn btn-outline-secondary fas fa-ban", @title = "Rescindir" })
                        @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                        {
                            @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger fas fa-trash-alt", @title = "Borrar" })
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn botonIndex btn-capsul">Regresar a la lista</a>